@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: #28263A !important;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background: #1D1C2B;
    color: #ffff;
}

.navbar {
    height: 8% !important;
}

.aktif {
    border-bottom: 3px solid #6E2EAE;
}

.tombol, .tombol:focus {
    outline: none;
    border: none;
    background: #6E2EAE;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 30;
    font-weight: bold;
}


.search {
    position: relative;
    width: 250px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    background: #82828B;
    outline: none;
    border: none;
    border-radius: 20px;
    
    padding: 0 10px 0 45px;
}

.search input::placeholder {
    padding: 25%;
    color: #fff;
    font-size: 16;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
}

.btn.vip {
    background: #ffff;
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn {
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}


/* Container */

.container {
    min-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 3.9%;

    /* overflow: hidden; */
}


.banner {
    width: 90%;
    height: 100%;
    position: relative;
    padding-bottom: 1%;
}

.img {
    width: 100%;
    height: 100%;
    background: url('../image/banner/kunfu_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7px);

    position: absolute;
    top: 0;
}

video{
    position: relative;
}

.detail {
    position: absolute;
    z-index: 99;
    top: 4%;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 3% 6%;

    display: flex;
    justify-content: space-between;
}

.kartus {
    width: 30%;
}

.kartus img{
    width: 243px;
    height: 365px;

    border-radius: 20px;
}


.konten {
    width: 70%;
}


.tombols {
    width: 80%;
}

.tombol-trailer , .tombol-trailer:focus {
    cursor: pointer;

    border: none;
    outline: none;
    padding: 1% 2%;

    border-radius: 20px;

    color: #ffff;

    background: rgba(255, 255, 255, 0.5);
}

.tombol-film, .tombol-film:focus {
    cursor: pointer;

    border: none;
    outline: none;
    padding: 1% 3%;

    border-radius: 20px;

    color: #ffff;

    background: #6E2EAE;
}

.sipnopsis {
    width: 95%;
}



/* rekomen */

.rekomen {
    width: 100%;
    z-index: 99999;

    background: #1D1C2A;

    padding: 1.5% 0;
}


.owl-dots {
    display: none;
}

.owl-nav {
    left: 0;
    right: 0;
    bottom: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-nav button{
    width: 30px;
    border: none;
    outline: none;
}

.owl-nav button:focus{
    border: none;
    outline: none;
}

.owl-nav span {
    font-size: 3em;
}

.owl-stage {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
}

.kartu {
    border-radius: 20px !important;
    background: #ffff !important;
    border: none !important;
}

.kartu p {
    font-size: 1em !important;
    margin-bottom: 0 !important;
}

.movie p {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
}