@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #28263a !important;
    overflow-x: hidden;
}

.dasar {
    min-width: 100%;
    width: 100%;

    padding-top: 6%;
}

.navbar {
    width: 100%;
    background: #1d1c2b;
    color: #ffff;
}

.aktif {
    border-bottom: 3px solid #6e2eae;
}

.tombol,
.tombol:focus {
    outline: none;
    border: none;
    background: #6e2eae;
}

.tombol.vip:focus {
    outline: none;
    border: none;
    background: #ffffff;
}

a {
    font-family: "Poppins", sans-serif;
    font-size: 30;
    font-weight: bold;
}

.search {
    position: relative;
    width: 250px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    background: #82828b;
    outline: none;
    border: none;
    border-radius: 20px;

    padding: 0 10px 0 45px;
}

.search input::placeholder {
    padding: 25%;
    color: #fff;
    font-size: 16;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
}

a.vip {
    background: #ffff;
    padding: 10px !important;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

    text-decoration: none;
    color: #333333;
}

.btn {
    border-radius: 20px !important;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.dasar p {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: -0.3px;
}

.banner {
    width: 100%;
    height: 40%;
}

.banner img {
    pointer-events: none;
}

.topMovie {
    height: 80%;
    background: #28263a;
    border-radius: 30px;
}

.kartu {
    border-radius: 20px !important;
    background: #28263a !important;
    border: none !important;
}

.kartu p {
    font-size: 1em !important;
    margin-bottom: 0 !important;
}

.owl-dots {
    display: none;
}

.owl-nav {
    left: 0;
    right: 0;
    bottom: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-nav button {
    width: 30px;
    border: none;
    outline: none;
}

.owl-nav button:focus {
    border: none;
    outline: none;
}

.owl-nav span {
    font-size: 3em;
}

.owl-stage {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
}

.movie {
    background-color: #28263a !important;
}

.movie p {
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.owl-carousel-kedua .owl-nav span {
    color: #ffff;
}

.owl-carousel-kedua .kartu {
    background: #ffff !important;
}

.owl-carousel-kedua .owl-nav button {
    background-color: transparent !important;
    cursor: pointer;
}

.nemo {
    background: linear-gradient(to right, #09247d, #082465);
}

.nemo span {
    color: #ffff;
}

/* popup */

.popUp {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popUp .aa {
    position: relative;
}

.popUp .bb {
    top: 20%;
    right: 26%;
    position: absolute;
}
.popUp .bb .cls {
    width: 50px;
    outline: none;
    border: none;
    background: transparent;
    color: transparent;
}

.cls:focus {
    outline: none;
}
